p.{text-align:center;
    color:gray;}
body{background-color:blue;}

body{background-color:green;
}/*cor de fundo*/
<h1>,<p>, <div>
h1{background-color:black;
}/*cor de fundo*/
p{background-color:aqua;}/*cor de fundo*/
div{background-color:chartreuse;}/*cor de fundo*/